<h4>Open Action Points</h4>

<ng-template #loadingActionPoints>
  Loading...
</ng-template>

<ul *ngIf="actionPoints$ | async; else loadingActionPoints; let actionPoints">
  <li *ngFor="let actionPoint of actionPoints">
    <div class="collapsible-header">
      {{ actionPoint.text }}

      <small>{{ (actionPoint.user$ | async)?.name }}</small>
    </div>
  </li>
</ul>


<h4>Decisions</h4>

<ng-template #loadingExperimentDecisions>
  Loading...
</ng-template>

<ul *ngIf="experimentDecisions$ | async; else loadingExperimentDecisions; let experimentDecisions">
  <li *ngFor="let decision of experimentDecisions">
    <div class="collapsible-header action-button-container">
      {{ decision.text }}

      <small>{{ (decision.user$ | async)?.name }}</small>
      <span class="action-buttons">
        <button (click)="acceptDecision(decision.$key, decision)">Accept</button>
        <button (click)="rejectDecision(decision.$key, decision)">Reject</button>
      </span>
      <span class="tags badge"
      >Experiment</span>
    </div>
  </li>
</ul>


<ng-template #loadingDecisions>
  Loading...
</ng-template>

<ul *ngIf="decisions$ | async; else loadingDecisions; let decisions">
  <li *ngFor="let decision of decisions">
    <div class="collapsible-header action-button-container">
      {{ decision.text }}

      <small>{{ (decision.user$ | async)?.name }}</small>
      <span class="action-buttons">
        <button (click)="rejectDecision(decision.$key, decision)">Reject</button>
      </span>
    </div>
  </li>
</ul>
