<nav class="nav-extended">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">Spectre</a>

        <ul class="right">
            <li>
                <a routerLink="/tags">Tags</a>
            </li>
            <li>
                <a routerLink="/teams">Teams</a>
            </li>
        </ul>

        <ul class="tabs tabs-transparent">
            <li class="tab">
                <a routerLink="/notes">Notes</a>
            </li>
            <li class="tab">
                <a routerLink="/retros">Retros</a>
            </li>
        </ul>
    </div>
</nav>
