<ng-template #loading>
  Loading...
</ng-template>

<ul materialize="collapsible" class="collapsible" data-collapsible="accordion"
  *ngIf="retros$ | async; else loading; let retros"
>
  <li *ngFor="let retro of retros">
    <div class="collapsible-header" fxLayout="row" fxLayoutAlign="space-between center">
      <div fxLayout="row" fxLayoutAlign="start center">
        <strong>{{ retro.createdAt | amDateFormat: 'YYYY-MM-DD HH:mm' }}</strong>
        <span fxFlex="8px"></span>

        <div *ngIf="!retro.updatedAt" fxLayout="row" fxLayoutAlign="start center">
          <small>Not yet completed...</small>
        </div>

        <div *ngIf="retro.updatedAt" fxLayout="row" fxLayoutAlign="start center">
          <small >{{ retro.updatedAt | amTimeAgo }}</small>
          <span fxFlex="8px"></span>
          <small>(duration {{ retro.updatedAt | amDifference: retro.createdAt : 'minute' : false | number }} minutes)</small>
        </div>
      </div>

      <span class="tags badge">Notes: {{ getRetroNotesCount(retro) | number }}</span>
    </div>

    <div class="collapsible-body">
      <strong>Mad</strong>
      <ul *ngIf="getNotes('Mad', retro) as notes">
        <li *ngFor="let note of notes">
          <div class="note" fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutAlign="start center">
              <span>{{note.text}}</span>
              <span fxFlex="8px"></span>
              <small>{{(note.user$ | async)?.name}}</small>
            </div>
  
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <span class="tags badge"
                *ngFor="let tag of note.tags$ | async"
                [ngClass]="(tag | async)?.name"
              >{{ (tag | async)?.name }}</span>
            </div>
          </div>

          <div>
            <ul>
              <li *ngFor="let _note of note.notes">
                <div class="note subnote" fxLayout="row" fxLayoutAlign="space-between center">
                  <div fxLayout="row" fxLayoutAlign="start center">
                    <span>{{_note.text}}</span>
                    <span fxFlex="8px"></span>
                    <small>{{(_note.user$ | async)?.name}}</small>
                  </div>
  
                  <div fxLayout="row" fxLayoutAlign="space-between center">
                    <span class="tags badge"
                      *ngFor="let tag of _note.tags$ | async"
                      [ngClass]="(tag | async)?.name"
                    >{{(tag | async)?.name}}</span>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </li>

        <li *ngIf="notes.length === 0">
          <em>none</em>
        </li>
      </ul>

      <strong>Sad</strong>
      <ul *ngIf="getNotes('Sad', retro) as notes">
        <li *ngFor="let note of notes">
          <div class="note" fxLayout="row" fxLayoutAlign="space-between center">
              <div fxLayout="row" fxLayoutAlign="start center">
                <span>{{note.text}}</span>
                <span fxFlex="8px"></span>
                <small>{{(note.user$ | async)?.name}}</small>
              </div>
    
              <div fxLayout="row" fxLayoutAlign="space-between center">
                <span class="tags badge"
                  *ngFor="let tag of note.tags$ | async"
                  [ngClass]="(tag | async)?.name"
                >{{ (tag | async)?.name }}</span>
              </div>
            </div>
  
            <div>
              <ul>
                <li *ngFor="let _note of note.notes">
                  <div class="note subnote" fxLayout="row" fxLayoutAlign="space-between center">
                    <div fxLayout="row" fxLayoutAlign="start center">
                      <span>{{_note.text}}</span>
                      <span fxFlex="8px"></span>
                      <small>{{(_note.user$ | async)?.name}}</small>
                    </div>
    
                    <div fxLayout="row" fxLayoutAlign="space-between center">
                      <span class="tags badge"
                        *ngFor="let tag of _note.tags$ | async"
                        [ngClass]="(tag | async)?.name"
                      >{{(tag | async)?.name}}</span>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
        </li>

        <li *ngIf="notes.length === 0">
          <em>none</em>
        </li>
      </ul>

      <strong>Glad</strong>
      <ul *ngIf="getNotes('Glad', retro) as notes">
        <li *ngFor="let note of notes">
          <div class="note" fxLayout="row" fxLayoutAlign="space-between center">
              <div fxLayout="row" fxLayoutAlign="start center">
                <span>{{note.text}}</span>
                <span fxFlex="8px"></span>
                <small>{{(note.user$ | async)?.name}}</small>
              </div>
    
              <div fxLayout="row" fxLayoutAlign="space-between center">
                <span class="tags badge"
                  *ngFor="let tag of note.tags$ | async"
                  [ngClass]="(tag | async)?.name"
                >{{ (tag | async)?.name }}</span>
              </div>
            </div>
  
            <div>
              <ul>
                <li *ngFor="let _note of note.notes">
                  <div class="note subnote" fxLayout="row" fxLayoutAlign="space-between center">
                    <div fxLayout="row" fxLayoutAlign="start center">
                      <span>{{_note.text}}</span>
                      <span fxFlex="8px"></span>
                      <small>{{(_note.user$ | async)?.name}}</small>
                    </div>
    
                    <div fxLayout="row" fxLayoutAlign="space-between center">
                      <span class="tags badge"
                        *ngFor="let tag of _note.tags$ | async"
                        [ngClass]="(tag | async)?.name"
                      >{{(tag | async)?.name}}</span>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
        </li>

        <li *ngIf="notes.length === 0">
          <em>none</em>
        </li>
      </ul>
    </div>
  </li>
</ul>
