<div>
  <h4>Add new tag</h4>

  <form #tagForm="ngForm" (submit)="addNewTag()">
    <input name="tag" required placeholder="Enter tag name"
      [(ngModel)]="tag"
      #tagControl
    />

    <input name="type" required placeholder="Enter type name"
      [(ngModel)]="type"
      #tagControl
    />

    <button type="submit"
      [disabled]="tagForm.invalid"
    >Add tag</button>
  </form>

  <table materialize="collapsible" class="collapsible">
    <div class="collapsible-header">
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th></th>
      </tr>
      <tr *ngFor="let tag of tags | async">
        <td>{{tag.name}}</td>
        <td>{{tag.type}}</td>
        <td><a (click)="removeTag(tag)">remove</a></td>
      </tr>
    </div>
  </table>
</div>
