<div fxLayout="column">
  <h4>Add new note</h4>

  <form #noteForm="ngForm" (submit)="addNewNote()">
    <div *ngFor="let tag of noteTypes$ | async">
        <input name="noteType" type="radio" id="{{tag.name}}" [(ngModel)]="noteType" [value]="tag.$key" />
        <label for="{{tag.name}}">{{tag.name}}</label>
    </div>

    <input name="note" required placeholder="Enter note"
      [(ngModel)]="note"
      #noteControl
    />

    <button type="submit"
      [disabled]="noteForm.invalid"
    >Add</button>
  </form>

  <h4>Open notes</h4>

  <ng-template #loading>
    Loading...
  </ng-template>

  <div *ngIf="notes$ | async; else loading; let notes">
    <ul materialize="collapsible" class="collapsible" data-collapsible="accordion"
      *ngIf="notes.length"
    >
      <li *ngFor="let note of notes">
        <div class="collapsible-header" fxLayout="row" fxLayoutAlign="space-between center">
          <div fxLayout="row" fxLayoutAlign="start center">
            <span>{{note.text}}</span>
            <span fxFlex="8px"></span>
            <small>{{(note.user$ | async)?.name}}</small>
          </div>

          <div fxLayout="row" fxLayoutAlign="space-between center">
            <span class="tags badge"
              *ngIf="note.notes.length > 0"
            >Replies {{ note.notes.length }}</span>

            <span class="tags badge"
              *ngFor="let tag of note.tags$ | async"
              [ngClass]="(tag | async)?.name"
            >{{ (tag | async)?.name }}</span>
          </div>
        </div>

        <div class="collapsible-body">
          <ul materialize="collapsible" class="collapsible" data-collapsible="accordion">
            <li *ngFor="let _note of note.notes">
              <div class="collapsible-header" fxLayout="row" fxLayoutAlign="space-between center">
                <div fxLayout="row" fxLayoutAlign="start center">
                  <span>{{_note.text}}</span>
                  <span fxFlex="8px"></span>
                  <small>{{(_note.user$ | async)?.name}}</small>
                </div>

                <span class="tags badge"
                  *ngFor="let tag of _note.tags$ | async"
                  [ngClass]="(tag | async)?.name"
                >{{(tag | async)?.name}}</span>
              </div>
            </li>
          </ul>

          <form #note2Form="ngForm" (submit)="addNewNote(note.$key)">
            <div [hidden]="!this.retroStarted" *ngFor="let t of commentTypes$ | async">
                <input name="commentType" type="radio" [(ngModel)]="commentType" id="aaa{{t.$key}}" [value]="t.$key" />
                <label for="aaa{{t.$key}}">{{t.name}}</label>
            </div>
            <input name="note2" required placeholder="Enter note"
              [(ngModel)]="note2"
              #note2Control
            />
            <div *ngIf="commentType == actionPointTypeKey">
              Assign action point to:
              <select [(ngModel)]="assignee" name="assignee" style="display: block">
                <option *ngFor="let user of users$ | async" value="{{user.$key}}">{{user.name}}</option>
              </select>
            </div>

            <button type="submit"
              [disabled]="note2Form.invalid"
            >Add</button>
          </form>
        </div>
      </li>
    </ul>

    <p *ngIf="!notes.length">
      <em>No open notes...</em>
    </p>
  </div>

  <div>
    <button [hidden]="this.retroStarted" (click)="startRetrospective()">Start Retrospective</button>
    <button [hidden]="!this.retroStarted" (click)="completeRetrospective(openRetro?.$key)">Complete Retrospective</button>
  </div>
</div>
