<h4>Add new note</h4>

<form #noteForm="ngForm" (submit)="addNewNote()">
  <div *ngFor="let tag of noteTypes | async">
      <input name="noteType" type="radio" id="{{tag.name}}" [(ngModel)]="noteType" [value]="tag.$key" />
      <label for="{{tag.name}}">{{tag.name}}</label>
  </div>

  <input name="note" required placeholder="Enter note"
    [(ngModel)]="note"
    #noteControl
  />

  <button type="submit"
    [disabled]="noteForm.invalid"
  >Add</button>
</form>

<h4>Open notes</h4>

<ul materialize="collapsible" class="collapsible" data-collapsible="accordion">
  <li *ngFor="let note of notes | async">
    <div class="collapsible-header">
      <span class="new tags badge" *ngIf="note.notes.length > 0">Replies {{note.notes.length}}</span>

      <span class="new tags badge"
            *ngFor="let tag of note.tags$ | async"
            [ngClass]="(tag | async)?.type"
      >{{(tag | async)?.name}}</span>

      {{note.text}} <small>{{(note.user$ | async)?.name}}</small>
    </div>

    <div class="collapsible-body">
      <ul materialize="collapsible" class="collapsible" data-collapsible="accordion">
        <li *ngFor="let _note of note.notes">
          <div class="collapsible-header">

            <span class="new tags badge"
              *ngFor="let tag of _note.tags$ | async"
              [ngClass]="(tag | async)?.type"
            >{{(tag | async)?.name}}</span>

            {{_note.text}} <small>{{(_note.user$ | async)?.name}}</small>
          </div>
        </li>
      </ul>

      <form #note2Form="ngForm" (submit)="addNewNote(note.$key)">
        <div *ngFor="let t of commentTypes | async">
            <input name="commentType" type="radio" [(ngModel)]="commentType" id="aaa{{t.$key}}" [value]="t.$key" />
            <label for="aaa{{t.$key}}">{{t.name}}</label>
        </div>
        <input name="note2" required placeholder="Enter note"
          [(ngModel)]="note2"
          #note2Control
        />

        <button type="submit"
          [disabled]="note2Form.invalid"
        >Add</button>
      </form>
    </div>
  </li>
</ul>
