.collapsible-body {
  margin: 0;
  padding: 0;
  background-color: #e1f5fe;

  .collapsible,
  form {
    border: none;
    margin: 0 0 0 32px;
  }

  form {
    background-color: #fff;
    padding: 0 16px 16px 16px;
  }
}

span.badge.tags {
  font-weight: 300;
  font-size: 0.8rem;
  color: #fff;
  background-color: #26a69a;
  border-radius: 2px;
}

.side-nav span.badge.tags, .collapsible span.badge.tags {
  position: relative;
  background-color: transparent;

  &.dsh {
    &::before {
      background-color: red;
    }
  }
}