<h4>Add new note</h4>

<form #noteForm="ngForm" (submit)="addNewNote()">
  <input name="note" required placeholder="Enter note"
    [(ngModel)]="note"
    #noteControl
  />

  <button type="submit"
    [disabled]="noteForm.invalid"
  >Add note</button>
</form>

<h4>Open notes</h4>

<ul materialize="collapsible" class="collapsible" data-collapsible="accordion">
  <li *ngFor="let note of notes | async">
    <div class="collapsible-header">
      <span class="new badge">{{note.notes.length}}</span>

      {{note.text}} <small>{{(note.user$ | async)?.name}}</small>
    </div>

    <div class="collapsible-body">
      <ul materialize="collapsible" class="collapsible" data-collapsible="accordion">
        <li *ngFor="let _note of note.notes">
          <div class="collapsible-header">
            {{_note.text}} <small>{{(_note.user$ | async)?.name}}</small>
          </div>
        </li>
      </ul>

      <form #note2Form="ngForm" (submit)="addNewNote(note.$key)">
        <input name="note2" required placeholder="Enter note"
          [(ngModel)]="note2"
          #note2Control
        />

        <button type="submit"
          [disabled]="note2Form.invalid"
        >Add reply</button>
      </form>
    </div>
  </li>
</ul>
