/* You can add global styles to this file, and also import other style files */
@import '../node_modules/materialize-css/dist/css/materialize.css';

body {
  overflow-y: scroll;
}

h1, h2, h3, h4 {
  margin-top: 8px;
}

a:not([href]){
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none
}

a.disabled {
  pointer-events: none;
  cursor: default;
  opacity: .5;
}

.action-button-container:hover .action-buttons { display:inline-block; }
.action-buttons {
  display: none;
}

span.badge.new:after {
  content: "";
}

span.badge.tags {
  font-weight: 300;
  font-size: 0.8rem;
  color: #fff;
  background-color: #26a69a !important;
  border-radius: 2px;
  margin-top: 0 !important;

  &.Mad {
    background-color: #a64336 !important;
  }

  &.Sad {
    background-color: #a6a232 !important;
  }

  &.Glad {
    background-color: #33a637 !important;
  }
}
