/* You can add global styles to this file, and also import other style files */
@import "../node_modules/materialize-css/dist/css/materialize.css";

a:not([href]){
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none
}

a.disabled {
  pointer-events: none;
  cursor: default;
  opacity: .5;
}

span.badge.new:after {
  content: "";
}
